.won {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 100rem;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    top: 0;
}

.title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    margin-top: 50px;
    width: 100vw;
    height: 30vh;
}

.button {
    position: absolute;
    top: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    font-size: 20px;
    border: 5px solid white;
    border-radius: 30px;
    height: 40px;
    width: 160px;
    cursor: pointer;
    transition: .15s;
    color: white;
    background: none;
    margin-top: 115px;
}

.button button:hover {
    border: 5px solid #0000ff;
    background-color: #0000ff55;
}
